@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Ovveride CSS */
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: visible !important;
}
.carousel .control-dots {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  bottom: 6px !important;
}
.carousel-container {
  width: 100%;
  padding: 1rem;
  column-gap: 1rem;
}
.carousel-item {
  padding: 0.75rem;
}

.react-multi-carousel-track {
  margin: -1rem !important;
}

[class*="react-multiple-carousel"] {
  background-color: black !important;
  border-radius: 0 !important;
  top: 35% !important;
  min-width: 32px !important;
  min-height: 32px !important;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: 1px !important;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 1px !important;
}
[class*="react-multiple-carousel"]:hover {
  background-color: #47b486 !important;
}

/* Custom CSS */
@layer components {
  .myarrow {
    @apply absolute z-[0] cursor-pointer bottom-[61%] bg-background size-14 rounded-full
    md:grid place-items-center translate-y-10 transition-all hidden;
  }
  .my-button {
    @apply bg-black rounded-full text-white px-4 py-2 grid place-items-center cursor-pointer transition-all;
  }
  .left-right-line {
    @apply relative  before:bg-text-light-color
      before:absolute before:top-1/2 before:w-[140px] before:left-0
      before:h-[1px] after:bg-text-light-color after:absolute 
      after:top-1/2 after:w-[140px] after:right-0 after:h-[1px];
  }
}
.error-field {
  border: 1px solid red;
}
